* {
  user-select: none;
}

body {
  margin: 0;
  background: transparent;
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden;
}

#timer {
  color: white;
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  text-shadow: 0 0 10px black;
}

#paused {
    color: red;
    font-size: 32px;
    text-align: center;
    margin-top: 10px;
    text-shadow: 0 0 5px red;
    animation: blink 2s infinite alternate;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.1;
    }
}
